# Diary MS
# .env
JWT_SECRET_KEY=secret-key
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=6000

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db-diary
# DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_URI=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
BROKER_HOST=kafka
# BROKER_HOST=localhost
BROKER_PORT=9092
BROKER_URI=${BROKER_HOST}:${BROKER_PORT}

POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_NAME}

PROJECT_NAME=Diary Card Service.
PROJECT_DESCRIPTIN=Diary Card API.

REDIS_HOST=redis_backend
# REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASES=1
REDIS_PASSWORD=ungithubbed-secret
REDIS_URI=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DATABASES}

MINIO_URL=http://minio:3100
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password

TELEMETRY_HOST=alloy
# TELEMETRY_HOST=localhost
TELEMETRY_PORT=4317
TELEMETRY_URL=http://${TELEMETRY_HOST}:${TELEMETRY_PORT}


# User MS
# user_ms.env
PROJECT_NAME=User API
PROJECT_DESCRIPTION=User And Auth API.

SECRET_KEY=secret-key
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_URI=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
BROKER_URI="localhost:9092"
# BROKER_URI="kafka:9092"

POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_NAME}
